* {
    font-family:  'Roboto', sans-serif;;
}

.login{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

.header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
 }

 .logo{
    margin-left: 22px;
 }

 .people{
    margin-right: 24px;
 }

 .vector{
    margin: 27px;
  }
 
 .footer{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
 }

 #mensagem{
    box-sizing: border-box;
    resize: none;
    border: none;
    font-size: 18px;
    max-height: 80px;
 
  }

  #mensagem::placeholder{
    font-style: italic;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
  }

  .conteudoMensagens{
    width: 100vw;
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: blueviolet;
  }
  .conteudoMensagens {
   max-height: calc(100vh - 160px);
   margin: 80px auto 80px auto;
   overflow: auto;
   display: flex;
   flex-direction: column;
   }

  ul li {
   white-space: normal;
   display: flex;
   align-items: center;
   width: 100%;
   font-size: 14px;
   margin-top: 5px;
   background-color: #DCDCDC;
}
ul li p {
   word-break: break-all;
   margin: 20px 20px;
}
ul li p strong {
   font-weight: 700;
   margin-right: 10px;
}

ul li p time {
   margin-right: 10px;
}